:root {
  --text: #fff;
}

.info-sections {
  display: flex;
  flex-direction: column;
}

.info-sections section {
  color: var(--text);
  width: 100%;
  height: 100vh;
  background-color: #121212;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-sections .greeting {
  font-size: 100px;
  color: #fff;
}

.info-sections canvas {
  /* position: absolute; */
  top: 0;
  left: 0;

  height: 100vh;
}
